{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off", // 컴포넌트 반환타입 지정안해도 되게 허용
        "@typescript-eslint/no-empty-interface": "off", // 빈 인터페이스 허용
        "react/react-in-jsx-scope": "off", // React scope 무시=
        "no-empty-pattern": "off",  // 빈 오브젝트 허용
        "prettier/prettier": "off"  // prettier 린트 무시
    },
    "ignorePatterns": "/config/**"
}
